header, nav, section, footer {
    display: block;
}

.menu--top_page {
    margin: 0;
    padding: 0;
    width: 250px;
    overflow: hidden;
    float: right;
}

.slider {
    height: 846px;
    background: rgba(0, 0, 0, .2);
}
