@media (min-width: 960px) {
  .wrapper{
    width: 935px;
  }

  .head{
    position: relative;
    overflow: hidden;
    height: 846px;
  }
  .main-logo--head{
    float: left;
  }

.menu--top_page{
  display: block;
  float: right;
  margin-top: 76px;
  width: 80%;
}
.menu--top_page--down{
  display: none;
}
.menu__item--top_page{
  float: right;
  margin-left: 46px;
  margin-right: 0;
}

.menu__item--first{
  margin-right: -26px;
}
.slider{
  margin-top: 279px;
}
.slider__wrapper{
  max-width: 1555px;
}
.title1{
  margin: 0;
  height: 54px;
  font-size: 60px;
}
.title2{
  margin: 0;
  height: 27px;
  padding: 0;
  width: 421px;
  font-size: 32px;
}
.articles--slide{
  padding-top: 84px;
  margin-left: 2.2%;
  width: 58%;
  max-width: 58%;
}
.articles__text--slide{
  height: auto;
  font-size: 18px;
  margin-top: 10px;
  width: 509px;
  line-height: 1.35;
}
.slider__image{
  margin-right: 4.9%;
  margin-top: -17px;
}
.radio-button{
  right: 15.3%;
  margin-top: 93px;
}
.info_block{
  height: 341px;
}
.articles--info_block{
  padding-top: 79px;
  width: 33.33%;
  height: 341px;
}

}
