@media (min-width: 320px) {
    .wrapper {
        width: 300px;
    }
    .menu__link {
        padding: 0;
        margin: 0;
        line-height: 33px;
    }
    .menu__link--active {
        display: inline;
        padding: 0 5px;
        border-bottom: 2px solid #edbfff;
    }
    .head {
        height: 516px;
    }
    .main-logo--head {
        display: inline-block;
        margin: 65px auto 0 auto;
        width: 100%;
        text-align: center;
    }
    .menu--top_page {
        display: none;
    }
    .menu--top_page--down {
        position: absolute;
        overflow: hidden;
        display: block;
        margin: 0 13%;
        top: 141px;
        width: 74%;
        text-align: center;
        z-index: 1;
        opacity: 0.9;
    }
    .menu__item--top_page {
        margin: 0 auto;
        display: none;
        float: none;
        height: 40px;
        border-top: 1px solid #55425d;
        border-bottom: 1px solid #3e3046;
    }
    .menu__item--first {
        border-bottom: none;
    }
    .menu__item--last {
        display: block;
        border-top: none;
        border-bottom: none;
    }
    .articles {
        margin-left: -2.9%;
    }
    .articles--slide {
        float: none;
        margin-left: 16.5%;
    }
    .title1 {
        margin-left: 3.2%;
        font-size: 36px;
    }
    .title2 {
        width: 220px;
        margin-left: 1.9%;
        letter-spacing: 0.04px;
        overflow: hidden;
        font-size: 18px;
        line-height: 32px;
    }
    .menu--top_page:hover .menu__item {
        display: block;
    }
    .menu__item--top_page:hover {
        background: rgba(0, 0, 0, .3);
    }
    .slider__arrow--left {
        float: left;
        background: url(../img/arrow-left.png) no-repeat;
    }
    .slider__arrow--right {
        float: right;
        background: url(../img/arrow-right.png) no-repeat;
    }
    .articles__text--slide {
        display: none;
    }
    .info_block {
        height: 598px;
    }
}
