@media (min-width: 480px) {
    .wrapper {
        width: 460px;
    }
    .head {
        height: 549px;
    }
    .menu--top_page {
        margin-top: 67px;
    }
    .menu--top_page--down {
        width: 50.3%;
        top: 135px;
        margin-left: 24.6%;
        margin-bottom: 95px;
    }
    .menu__item--top_page {
        height: 40px;
    }
    .menu__item--last {
        padding-top: 6px;
    }
    .slider {
        margin-top: 94px;
        height: 241px;
        background: rgba(0, 0, 0, .2);
    }
    .slider__wrapper--inside {
        width: 90%;
    }
    .articles--slide {
        float: left;
        margin-left: 2.3%;
        padding-top: 96px;
        width: 44%;
    }
    .title1 {
        margin-left: -1.8%;
    }
    .title2 {
        overflow: hidden;
        height: 24px;
        letter-spacing: 0.1px;
        margin-left: -3px;
    }
}
